<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
<mapper namespace="com.my.multi">

	<select id="selectAll" resultType="MDBoardDto">
		SELECT SEQ, WRITER, TITLE, CONTENT, REGDATE
		FROM MDBOARD
	</select>
	
	<resultMap type="com.multi.dto.MDBoardDto" id="mdmap">
		<result property="seq" column="SEQ"/>
		<result property="writer" column="WRITER"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="regdate" column="REGDATE"/>
	</resultMap>

	<select id="selectOne" parameterType="int" resultMap="mdmap">
		SELECT * FROM MDBOARD WHERE SEQ=#{seq}
	</select>

	<delete id="muldel" parameterType="map">
		DELETE
		FROM MDBOARD
		WHERE SEQ IN 
		<foreach collection="seq" item="seq" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>
	
	<insert id="insert" parameterType="MDBoardDto">
		INSERT
		INTO MDBOARD
		VALUES(MDBOARDSEQ.NEXTVAL,#{writer},#{title},#{content},SYSDATE)
	</insert>

	<update id="update" parameterType="MDBoardDto">
		UPDATE MDBOARD
		SET TITLE = #{title}, CONTENT = #{content}
		WHERE SEQ = #{seq}
	</update>

	<delete id="delete" parameterType="int">
		DELETE
		FROM MDBOARD
		WHERE SEQ = #{seq}
	</delete>


</mapper>


