<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Jsp05_HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <!-- 애플리케이션 전체의 전역 파라미터 설정 -->
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>com.hello.controller.HelloController</servlet-class>
  	
  	<!-- init() 실행 될때 해당 값 사용 가능 -->
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  	</init-param>
  	
  	<!-- 서블릿은 최초 요청이 들어올 때 초기화, 숫자가 0보다 크면 서버가 스타트 되면서 서블릿이 초기화 -->
  	<!-- 서블릿이 여러개 일때 실행 순서를 정의한다. -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/HelloServlet.do</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>














